@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.left{
    width: 26vw;
    padding: 10px;
}

.right{
    width: 76vw;
    margin: 16px 0px;
}

.home ul li{
    display: flex;
    gap: 15px;
    font-size: 16px;
    width: 34px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    font-size: 16px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 16px;
}

.heading img{
    width: 20px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 8px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom:0;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
}

.spotifyPlaylists{
    padding: 16px;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
}

.card{
    padding: 10px;
    max-width: 190;
    height: 276px;
    font-size: 14px;
    background-color: rgb(47, 46, 46);
    margin: 0px 6px;
}

.card img{
    max-width: 92%;
    object-fit: contain;
    border-radius: 15px;
    padding: 8px;
}

.cardTitle{
    padding: 5px 0px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}